{% extends "base.html" %}

{% block content %}

<h2>Employee Dashboard</h2>

<a href="/add_employee" class="btn btn-primary mb-3">Add Employee</a>

<table class="table table-bordered">

<thead class="table-dark">
<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Phone</th>
<th>Department</th>
<th>Action</th>
</tr>
</thead>

<tbody>

{% for emp in employees %}

<tr>

<td>{{ emp.emp_id }}</td>

<td>{{ emp.first_name }} {{ emp.last_name }}</td>

<td>{{ emp.email }}</td>

<td>{{ emp.mobile }}</td>

<td>{{ emp.dept_id }}</td>

<td>{{ emp.role_id }}</td>

<td>

<a href="/edit_employee/{{ emp.emp_id }}" class="btn btn-warning btn-sm">Edit</a>

<a href="/delete_employee/{{ emp.emp_id }}" class="btn btn-danger btn-sm"
onclick="return confirm('Delete this employee?')">

Delete

</a>

</td>

</tr>

{% endfor %}

</tbody>
</table>

{% endblock %}