<!DOCTYPE html>
<html>
<head>

<title>Employee Profile</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-5">

<h2>Employee Profile</h2>

<div class="card p-4">

<p><strong>ID:</strong> {{ emp.emp_id }}</p>

<p><strong>Name:</strong> {{ emp.emp_name }}</p>

<p><strong>Email:</strong> {{ emp.email }}</p>

<p><strong>Phone:</strong> {{ emp.phone }}</p>

<p><strong>Department:</strong> {{ emp.department.dept_name }}</p>

</div>

<br>

<a href="/employees" class="btn btn-secondary">Back</a>

</div>

</body>
</html>