{% extends "base.html" %}

{% block content %}

<h2>Department Dashboard</h2>

<a href="/add" class="btn btn-primary mb-3">Add Department</a>

<form method="GET" action="/" class="mb-3">
<input type="text" name="search" class="form-control" placeholder="Search department">
</form>

<div class="row mb-4">

<div class="col-md-4">
<div class="card p-3">
<h5>Total Departments</h5>
<h3>{{ count }}</h3>
</div>
</div>

</div>

<table class="table table-bordered">

<thead class="table-dark">

<tr>
<th>ID</th>
<th>Name</th>
<th>Description</th>
<th>Status</th>
<th>Action</th>
</tr>

</thead>

<tbody>
<div style="display:flex; justify-content:space-between;">
    <h2>Department</h2>
    
</div>
{% for dept in departments %}

<tr>

<td>{{ dept.dept_id }}</td>

<td>{{ dept.dept_name }}</td>

<td>{{ dept.description }}</td>

<td>{{ dept.status }}</td>

<td>

<a href="/edit/{{ dept.dept_id }}" class="btn btn-warning btn-sm">
Edit
</a>

<a href="/delete/{{ dept.dept_id }}"
class="btn btn-danger btn-sm"
onclick="return confirm('Delete this department?')">
Delete
</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}