{% extends "base.html" %}
{% block content %}

<h2>Leave Dashboard</h2>

<a href="/leave/apply" class="btn btn-primary mb-3">Apply Leave</a>

<table class="table table-bordered">
<tr>
<th>ID</th>
<th>Employee</th>
<th>Type</th>
<th>From</th>
<th>To</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for l in leaves %}
<tr>
<td>{{ l.leave_id }}</td>
<td>{{ l.employee_id }}</td>
<td>{{ l.leave_type }}</td>
<td>{{ l.from_date }}</td>
<td>{{ l.to_date }}</td>
<td>{{ l.status }}</td>

<td>
<a href="/leave/update/{{ l.leave_id }}/Approved" class="btn btn-success btn-sm">Approve</a>
<a href="/leave/update/{{ l.leave_id }}/Rejected" class="btn btn-danger btn-sm">Reject</a>
</td>

</tr>
{% endfor %}

</table>

{% endblock %}